quickstart-conf/celerio.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.jaxio.com/schema/celerio" elementFormDefault="qualified" targetNamespace="http://www.jaxio.com/schema/celerio">
  <xs:simpleType name="jdbcType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARRAY"/>
      <xs:enumeration value="BIGINT"/>
      <xs:enumeration value="BINARY"/>
      <xs:enumeration value="BIT"/>
      <xs:enumeration value="BLOB"/>
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="CHAR"/>
      <xs:enumeration value="CLOB"/>
      <xs:enumeration value="DATALINK"/>
      <xs:enumeration value="DATE"/>
      <xs:enumeration value="DECIMAL"/>
      <xs:enumeration value="DISTINCT"/>
      <xs:enumeration value="DOUBLE"/>
      <xs:enumeration value="FLOAT"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="JAVA_OBJECT"/>
      <xs:enumeration value="LONGVARBINARY"/>
      <xs:enumeration value="LONGVARCHAR"/>
      <xs:enumeration value="NUMERIC"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value="REAL"/>
      <xs:enumeration value="REF"/>
      <xs:enumeration value="SMALLINT"/>
      <xs:enumeration value="STRUCT"/>
      <xs:enumeration value="TIME"/>
      <xs:enumeration value="TIMESTAMP"/>
      <xs:enumeration value="TINYINT"/>
      <xs:enumeration value="VARBINARY"/>
      <xs:enumeration value="VARCHAR"/>
      <xs:enumeration value="ROW_ID"/>
      <xs:enumeration value="LONGNVARCHAR"/>
      <xs:enumeration value="NCHAR"/>
      <xs:enumeration value="NCLOB"/>
      <xs:enumeration value="NVARCHAR"/>
      <xs:enumeration value="NULL"/>
      <xs:enumeration value="SQLXML"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="classType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="model"/>
      <xs:enumeration value="primaryKey"/>
      <xs:enumeration value="dao"/>
      <xs:enumeration value="formatter"/>
      <xs:enumeration value="printer"/>
      <xs:enumeration value="converter"/>
      <xs:enumeration value="repository"/>
      <xs:enumeration value="repositorySupport"/>
      <xs:enumeration value="service"/>
      <xs:enumeration value="serviceImpl"/>
      <xs:enumeration value="serviceSupport"/>
      <xs:enumeration value="validator"/>
      <xs:enumeration value="enumModel"/>
      <xs:enumeration value="enumItems"/>
      <xs:enumeration value="modelGenerator"/>
      <xs:enumeration value="controllerWithPathVariable"/>
      <xs:enumeration value="restController"/>
      <xs:enumeration value="entityForm"/>
      <xs:enumeration value="context"/>
      <xs:enumeration value="formService"/>
      <xs:enumeration value="formValidator"/>
      <xs:enumeration value="searchController"/>
      <xs:enumeration value="webSupport"/>
      <xs:enumeration value="webModel"/>
      <xs:enumeration value="webModelConverter"/>
      <xs:enumeration value="webController"/>
      <xs:enumeration value="webConverter"/>
      <xs:enumeration value="webModelItems"/>
      <xs:enumeration value="webPermission"/>
      <xs:enumeration value="seleniumEditPage"/>
      <xs:enumeration value="seleniumSearchPage"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="inheritanceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SINGLE_TABLE"/>
      <xs:enumeration value="TABLE_PER_CLASS"/>
      <xs:enumeration value="JOINED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="trueFalse">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TRUE"/>
      <xs:enumeration value="FALSE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tableType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TABLE"/>
      <xs:enumeration value="VIEW"/>
      <xs:enumeration value="ALIAS"/>
      <xs:enumeration value="SYNONYM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="generatedPackage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Audit"/>
      <xs:enumeration value="Configuration"/>
      <xs:enumeration value="Context"/>
      <xs:enumeration value="Converter"/>
      <xs:enumeration value="Dao"/>
      <xs:enumeration value="DaoListener"/>
      <xs:enumeration value="DaoSupport"/>
      <xs:enumeration value="EmailService"/>
      <xs:enumeration value="EnumItems"/>
      <xs:enumeration value="EnumModel"/>
      <xs:enumeration value="EnumModelSupport"/>
      <xs:enumeration value="Formatter"/>
      <xs:enumeration value="FormatterSupport"/>
      <xs:enumeration value="Hibernate"/>
      <xs:enumeration value="HibernateListener"/>
      <xs:enumeration value="HibernateSupport"/>
      <xs:enumeration value="Model"/>
      <xs:enumeration value="ModelSupport"/>
      <xs:enumeration value="Printer"/>
      <xs:enumeration value="PrinterSupport"/>
      <xs:enumeration value="Random"/>
      <xs:enumeration value="Repository"/>
      <xs:enumeration value="RepositorySupport"/>
      <xs:enumeration value="Root"/>
      <xs:enumeration value="Search"/>
      <xs:enumeration value="Security"/>
      <xs:enumeration value="Service"/>
      <xs:enumeration value="ServiceImpl"/>
      <xs:enumeration value="ServiceSupport"/>
      <xs:enumeration value="Util"/>
      <xs:enumeration value="Validation"/>
      <xs:enumeration value="ValidationImpl"/>
      <xs:enumeration value="RestController"/>
      <xs:enumeration value="Web"/>
      <xs:enumeration value="WebAction"/>
      <xs:enumeration value="WebComponent"/>
      <xs:enumeration value="WebConfiguration"/>
      <xs:enumeration value="WebContext"/>
      <xs:enumeration value="WebController"/>
      <xs:enumeration value="WebConversation"/>
      <xs:enumeration value="WebConversationComponent"/>
      <xs:enumeration value="WebConverter"/>
      <xs:enumeration value="WebConverterSupport"/>
      <xs:enumeration value="WebEl"/>
      <xs:enumeration value="WebFaces"/>
      <xs:enumeration value="WebFilter"/>
      <xs:enumeration value="WebFlow"/>
      <xs:enumeration value="WebInterceptor"/>
      <xs:enumeration value="WebListener"/>
      <xs:enumeration value="WebModel"/>
      <xs:enumeration value="WebModelConverter"/>
      <xs:enumeration value="WebModelEntityForm"/>
      <xs:enumeration value="WebModelItems"/>
      <xs:enumeration value="WebModelSearchForm"/>
      <xs:enumeration value="WebModelSupport"/>
      <xs:enumeration value="WebModelValidator"/>
      <xs:enumeration value="WebPermission"/>
      <xs:enumeration value="WebPermissionSupport"/>
      <xs:enumeration value="WebSecurity"/>
      <xs:enumeration value="WebService"/>
      <xs:enumeration value="WebServlet"/>
      <xs:enumeration value="WebUi"/>
      <xs:enumeration value="WebUtil"/>
      <xs:enumeration value="WebValidation"/>
      <xs:enumeration value="WebValidator"/>
      <xs:enumeration value="Selenium"/>
      <xs:enumeration value="SeleniumPage"/>
      <xs:enumeration value="SeleniumSupport"/>
      <xs:enumeration value="SeleniumElement"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="module">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SPRING_3"/>
      <xs:enumeration value="SPRING_MVC_3"/>
      <xs:enumeration value="SPRING_DATA"/>
      <xs:enumeration value="COPYABLE"/>
      <xs:enumeration value="CHAR_PADDING"/>
      <xs:enumeration value="PRIMEFACES"/>
      <xs:enumeration value="CONTAINER_SECURITY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="safeHtmlWhiteListType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="SIMPLE_TEXT"/>
      <xs:enumeration value="BASIC"/>
      <xs:enumeration value="BASIC_WITH_IMAGES"/>
      <xs:enumeration value="RELAXED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="associationDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNIDIRECTIONAL"/>
      <xs:enumeration value="BIDIRECTIONAL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="store">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO"/>
      <xs:enumeration value="YES"/>
      <xs:enumeration value="COMPRESS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mappedType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M_ARRAY"/>
      <xs:enumeration value="M_BIGDECIMAL"/>
      <xs:enumeration value="M_BIGINTEGER"/>
      <xs:enumeration value="M_BOOLEAN"/>
      <xs:enumeration value="M_BYTES"/>
      <xs:enumeration value="M_CLOB"/>
      <xs:enumeration value="M_DOUBLE"/>
      <xs:enumeration value="M_FLOAT"/>
      <xs:enumeration value="M_BLOB"/>
      <xs:enumeration value="M_INTEGER"/>
      <xs:enumeration value="M_LONG"/>
      <xs:enumeration value="M_REF"/>
      <xs:enumeration value="M_STRING"/>
      <xs:enumeration value="M_CHAR"/>
      <xs:enumeration value="M_BYTE"/>
      <xs:enumeration value="M_LOCALDATE"/>
      <xs:enumeration value="M_LOCALDATETIME"/>
      <xs:enumeration value="M_ZONEDDATETIME"/>
      <xs:enumeration value="M_SQLDATE"/>
      <xs:enumeration value="M_UTILDATE"/>
      <xs:enumeration value="M_INSTANT"/>
      <xs:enumeration value="M_TIME"/>
      <xs:enumeration value="M_TIMESTAMP"/>
      <xs:enumeration value="M_URL"/>
      <xs:enumeration value="M_OBJECT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="collectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ArrayList"/>
      <xs:enumeration value="HashSet"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cacheConcurrencyStrategy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="READ_ONLY"/>
      <xs:enumeration value="NONSTRICT_READ_WRITE"/>
      <xs:enumeration value="READ_WRITE"/>
      <xs:enumeration value="TRANSACTIONAL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="wellKnownFolder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JAVA"/>
      <xs:enumeration value="JAVA_TEST"/>
      <xs:enumeration value="WEBAPP"/>
      <xs:enumeration value="WEBINF"/>
      <xs:enumeration value="VIEWS"/>
      <xs:enumeration value="FLOWS"/>
      <xs:enumeration value="RESOURCES"/>
      <xs:enumeration value="SPRING"/>
      <xs:enumeration value="LOCALIZATION"/>
      <xs:enumeration value="DOMAIN_LOCALIZATION"/>
      <xs:enumeration value="RESOURCES_TEST"/>
      <xs:enumeration value="SPRING_TEST"/>
      <xs:enumeration value="CELERIO_LOCAL_TEMPLATE"/>
      <xs:enumeration value="COLLISION"/>
      <xs:enumeration value="SQL"/>
      <xs:enumeration value="CONFIG"/>
      <xs:enumeration value="SITE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="generationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TABLE"/>
      <xs:enumeration value="SEQUENCE"/>
      <xs:enumeration value="IDENTITY"/>
      <xs:enumeration value="AUTO"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fetchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="LAZY"/>
      <xs:enumeration value="EAGER"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORDINAL"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="CUSTOM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="termVector">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
      <xs:enumeration value="WITH_OFFSETS"/>
      <xs:enumeration value="WITH_POSITIONS"/>
      <xs:enumeration value="WITH_POSITION_OFFSETS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="formatterEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USE_FORMATTER_FILE"/>
      <xs:enumeration value="USE_ECLIPSE_DEFAULT"/>
      <xs:enumeration value="NONE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="analyze">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="norms">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="methodConvention">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GET"/>
      <xs:enumeration value="SET"/>
      <xs:enumeration value="ADD"/>
      <xs:enumeration value="WITH"/>
      <xs:enumeration value="EDIT"/>
      <xs:enumeration value="CONTAINS"/>
      <xs:enumeration value="GET_BY"/>
      <xs:enumeration value="DELETE_BY"/>
      <xs:enumeration value="REMOVE"/>
      <xs:enumeration value="REMOVE_ALL"/>
      <xs:enumeration value="HAS"/>
      <xs:enumeration value="GET_LOCALIZED"/>
      <xs:enumeration value="RANDOM_GETTER"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cascadeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="PERSIST"/>
      <xs:enumeration value="MERGE"/>
      <xs:enumeration value="REMOVE"/>
      <xs:enumeration value="REFRESH"/>
      <xs:enumeration value="DETACH"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="celerioPack">
    <xs:sequence>
      <xs:element type="tns:value" name="packName" minOccurs="0"/>
      <xs:element type="tns:value" name="packDescription" minOccurs="0"/>
      <xs:element type="tns:value" name="packDescription2" minOccurs="0"/>
      <xs:element type="tns:value" name="packCommand" minOccurs="0"/>
      <xs:element type="tns:value" name="packCommandHelp" minOccurs="0"/>
      <xs:element type="tns:value" name="projectLink" minOccurs="0"/>
      <xs:element type="tns:celerioTemplateContext" name="celerioTemplateContext" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configuration">
    <xs:sequence>
      <xs:element type="tns:celerioTemplateContext" name="celerioTemplateContext" minOccurs="0"/>
      <xs:element name="packs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:pack" name="pack" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="modules" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:module" name="module" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="customModules" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="customModule" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="filenames" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:pattern" name="filename" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="templates" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:pattern" name="template" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tables" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:pattern" name="table" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sequences" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:sequencePattern" name="sequence" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="numberMappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:numberMapping" name="numberMapping" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dateMappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:dateMapping" name="dateMapping" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:cacheConfig" name="defaultEntityCacheConfig" minOccurs="0"/>
      <xs:element type="tns:manyToOneConfig" name="defaultManyToOneConfig" minOccurs="0"/>
      <xs:element type="tns:oneToManyConfig" name="defaultOneToManyConfig" minOccurs="0"/>
      <xs:element type="tns:oneToOneConfig" name="defaultOneToOneConfig" minOccurs="0"/>
      <xs:element type="tns:oneToOneConfig" name="defaultInverseOneToOneConfig" minOccurs="0"/>
      <xs:element type="tns:manyToManyConfig" name="defaultManyToManyConfig" minOccurs="0"/>
      <xs:element type="tns:manyToManyConfig" name="defaultInverseManyToManyConfig" minOccurs="0"/>
      <xs:element type="tns:conventions" name="conventions" minOccurs="0"/>
      <xs:element name="metaAttributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="metaAttribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:generation" name="generation" minOccurs="0"/>
      <xs:element type="tns:headerComment" name="headerComment" minOccurs="0"/>
      <xs:element type="tns:restriction" name="restriction" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="tns:associationDirection" name="associationDirection"/>
    <xs:attribute type="xs:string" name="applicationName"/>
    <xs:attribute type="xs:string" name="rootPackage"/>
  </xs:complexType>
  <xs:complexType name="jdbcConnectivity">
    <xs:sequence>
      <xs:element name="tableNamePatterns" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="tableNamePattern" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tableTypes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:tableType" name="tableType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="driver"/>
    <xs:attribute type="xs:string" name="driverGroupId"/>
    <xs:attribute type="xs:string" name="driverArtifactId"/>
    <xs:attribute type="xs:string" name="driverArtifactIdVersion"/>
    <xs:attribute type="xs:string" name="hibernateDialect"/>
    <xs:attribute type="xs:string" name="sqlDelimiter"/>
    <xs:attribute type="xs:string" name="url"/>
    <xs:attribute type="xs:string" name="user"/>
    <xs:attribute type="xs:string" name="password"/>
    <xs:attribute type="xs:string" name="schemaName"/>
    <xs:attribute type="xs:boolean" use="required" name="oracleRetrieveRemarks"/>
    <xs:attribute type="xs:boolean" use="required" name="oracleRetrieveSynonyms"/>
    <xs:attribute type="xs:boolean" name="reverseIndexes"/>
    <xs:attribute type="xs:boolean" name="reverseOnlyUniqueIndexes"/>
    <xs:attribute type="xs:string" name="catalog"/>
  </xs:complexType>
  <xs:complexType name="wellKnownFolderOverride">
    <xs:sequence/>
    <xs:attribute type="tns:wellKnownFolder" use="required" name="wellKnownFolder"/>
    <xs:attribute type="xs:string" name="folder"/>
    <xs:attribute type="xs:string" name="generatedFolder"/>
  </xs:complexType>
  <xs:complexType name="cascade">
    <xs:sequence/>
    <xs:attribute type="tns:cascadeType" name="type"/>
  </xs:complexType>
  <xs:complexType name="importedKey">
    <xs:sequence/>
    <xs:attribute type="xs:string" use="required" name="fkColumnName"/>
    <xs:attribute type="xs:string" use="required" name="fkName"/>
    <xs:attribute type="xs:string" use="required" name="pkColumnName"/>
    <xs:attribute type="xs:string" use="required" name="pkTableName"/>
  </xs:complexType>
  <xs:complexType name="entityContextProperty">
    <xs:annotation>
      <xs:documentation>Used to introduce a new 'namer' property on each Celerio's entity context instance. Entity namer properties are convenient when writing template for classes that support entities, for example: Controller, Service, Dao, Validator etc. Example: var name is obtained with ${entity.property.var} and has the value "prefixEntityNameSuffix". Similarly ${entity.property.getter} returns "getPrefixEntityNameSuffix".</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="xs:string" name="property"/>
    <xs:attribute type="xs:string" name="rootPackage"/>
    <xs:attribute type="xs:string" name="subPackage"/>
    <xs:attribute type="xs:string" name="prefix"/>
    <xs:attribute type="xs:string" name="suffix"/>
  </xs:complexType>
  <xs:complexType name="column">
    <xs:sequence>
      <xs:element name="enumValues" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="enumValue" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="metaAttributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="metaAttribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" use="required" name="name"/>
    <xs:attribute type="xs:string" name="columnDef"/>
    <xs:attribute type="xs:int" use="required" name="decimalDigits"/>
    <xs:attribute type="xs:boolean" name="autoIncrement"/>
    <xs:attribute type="xs:boolean" use="required" name="nullable"/>
    <xs:attribute type="xs:int" use="required" name="ordinalPosition"/>
    <xs:attribute type="xs:string" name="remarks"/>
    <xs:attribute type="xs:int" use="required" name="size"/>
    <xs:attribute type="tns:jdbcType" name="type"/>
  </xs:complexType>
  <xs:complexType name="celerio">
    <xs:sequence>
      <xs:element name="includes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:include" name="include" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:configuration" name="configuration" minOccurs="0"/>
      <xs:element name="entityConfigs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:entityConfig" name="entityConfig" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sharedEnumConfigs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:enumConfig" name="sharedEnumConfig" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="associationAction">
    <xs:sequence/>
    <xs:attribute type="xs:boolean" name="create"/>
    <xs:attribute type="xs:boolean" name="edit"/>
    <xs:attribute type="xs:boolean" name="view"/>
    <xs:attribute type="xs:boolean" name="select"/>
    <xs:attribute type="xs:boolean" name="autoComplete"/>
    <xs:attribute type="xs:boolean" name="remove"/>
  </xs:complexType>
  <xs:complexType name="table">
    <xs:sequence>
      <xs:element name="columns">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:column" name="column" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="indexes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:index" name="indexe" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="importedKeys" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:importedKey" name="importedKey" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="primaryKeys" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="primaryKey" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" use="required" name="name"/>
    <xs:attribute type="tns:tableType" use="required" name="type"/>
    <xs:attribute type="xs:string" name="remarks"/>
  </xs:complexType>
  <xs:complexType name="dateMapping">
    <xs:sequence/>
    <xs:attribute type="tns:mappedType" name="mappedType"/>
    <xs:attribute type="tns:jdbcType" name="columnJdbcType"/>
    <xs:attribute type="xs:string" name="columnNameRegExp"/>
  </xs:complexType>
  <xs:complexType name="index">
    <xs:sequence/>
    <xs:attribute type="xs:string" use="required" name="columnName"/>
    <xs:attribute type="xs:string" use="required" name="indexName"/>
    <xs:attribute type="xs:boolean" use="required" name="nonUnique"/>
  </xs:complexType>
  <xs:complexType name="celerioTemplateContext">
    <xs:sequence>
      <xs:element name="properties" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="property" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="entityContextProperties" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:entityContextProperty" name="entityContextProperty" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generatedValue">
    <xs:sequence/>
    <xs:attribute type="xs:string" name="generator"/>
    <xs:attribute type="tns:generationType" name="strategy"/>
  </xs:complexType>
  <xs:complexType name="cacheConfig">
    <xs:annotation>
      <xs:documentation>Configuration element for Hibernate/EhCache 2d level cache.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="tns:cacheConcurrencyStrategy" name="usage"/>
    <xs:attribute type="xs:string" name="include"/>
    <xs:attribute type="xs:string" name="region"/>
  </xs:complexType>
  <xs:complexType name="sequencePattern">
    <xs:sequence/>
    <xs:attribute type="xs:string" name="tableNamePattern"/>
    <xs:attribute type="xs:string" name="sequenceName"/>
    <xs:attribute type="xs:string" name="catalog">
      <xs:annotation>
        <xs:documentation>(Optional) The catalog of the sequence generator.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="schema">
      <xs:annotation>
        <xs:documentation>(Optional) The schema of the sequence generator.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:int" name="initialValue"/>
    <xs:attribute type="xs:int" name="allocationSize"/>
  </xs:complexType>
  <xs:complexType name="classTypeOverride">
    <xs:sequence/>
    <xs:attribute type="tns:classType" use="required" name="classType"/>
    <xs:attribute type="xs:string" name="prefix"/>
    <xs:attribute type="xs:string" name="suffix"/>
    <xs:attribute type="tns:generatedPackage" name="generatedPackage"/>
  </xs:complexType>
  <xs:complexType name="conventions">
    <xs:sequence>
      <xs:element type="tns:eclipseFormatter" name="eclipseFormatter" minOccurs="0"/>
      <xs:element type="tns:xmlFormatter" name="xmlFormatter" minOccurs="0"/>
      <xs:element name="classTypes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:classTypeOverride" name="classType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="generatedPackages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:generatedPackageOverride" name="generatedPackage" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="methodConventions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:methodConventionOverride" name="methodConvention" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="wellKnownFolders" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:wellKnownFolderOverride" name="wellKnownFolder" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tableRenamers" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:renamer" name="tableRenamer" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="columnRenamers" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:renamer" name="columnRenamer" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="tns:collectionType" name="collectionType"/>
    <xs:attribute type="tns:trueFalse" name="renamePkToIdentifiableProperty">
      <xs:annotation>
        <xs:documentation>Whether to rename the pk property to the common identifiableProperty. Defaults to TRUE.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="identifiableProperty"/>
    <xs:attribute type="tns:trueFalse" name="entitySubPackagePreprended"/>
  </xs:complexType>
  <xs:complexType name="databaseInfo">
    <xs:annotation>
      <xs:documentation>Information about the database where celerio extracted the metadata</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="xs:int" use="required" name="databaseMajorVersion"/>
    <xs:attribute type="xs:int" use="required" name="databaseMinorVersion"/>
    <xs:attribute type="xs:string" name="databaseProductName"/>
    <xs:attribute type="xs:string" name="databaseProductVersion"/>
    <xs:attribute type="xs:int" use="required" name="driverMajorVersion"/>
    <xs:attribute type="xs:int" use="required" name="driverMinorVersion"/>
    <xs:attribute type="xs:string" name="driverName"/>
    <xs:attribute type="xs:string" name="driverVersion"/>
    <xs:attribute type="xs:string" name="extraInfo"/>
  </xs:complexType>
  <xs:complexType name="enumValue">
    <xs:sequence>
      <xs:element name="comments" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="comment" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="labels" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:label" name="label" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="value"/>
    <xs:attribute type="xs:string" name="label"/>
  </xs:complexType>
  <xs:complexType name="genericGenerator">
    <xs:sequence>
      <xs:element name="parameters" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="parameter" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="strategy"/>
  </xs:complexType>
  <xs:complexType name="metadata">
    <xs:sequence>
      <xs:element type="tns:jdbcConnectivity" name="jdbcConnectivity" minOccurs="0"/>
      <xs:element type="tns:databaseInfo" name="databaseInfo" minOccurs="0"/>
      <xs:element name="tables" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:table" name="table" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="manyToManyConfig">
    <xs:sequence>
      <xs:element name="labels" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:label" name="label" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cascades" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:cascade" name="cascade" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:cacheConfig" name="cacheConfig" minOccurs="0"/>
      <xs:element type="tns:associationAction" name="associationAction" minOccurs="0"/>
      <xs:element name="metaAttributes" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Meta attributes are free form key value pairs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="metaAttribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="var"/>
    <xs:attribute type="xs:string" name="elementVar"/>
    <xs:attribute type="tns:fetchType" name="fetch"/>
    <xs:attribute type="xs:string" name="orderBy"/>
    <xs:attribute type="xs:int" name="displayOrder"/>
    <xs:attribute type="xs:string" name="targetEntityName"/>
  </xs:complexType>
  <xs:element type="tns:celerioPack" name="celerioPack"/>
  <xs:complexType name="metaAttribute">
    <xs:annotation>
      <xs:documentation>Meta attributes are free form key value pairs</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="xs:string" use="required" name="name"/>
    <xs:attribute type="xs:string" use="required" name="value"/>
  </xs:complexType>
  <xs:complexType name="methodConventionOverride">
    <xs:annotation>
      <xs:documentation>change the prefix/suffix conventions for a given method</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="tns:methodConvention" use="required" name="methodConvention"/>
    <xs:attribute type="xs:string" name="prefix"/>
    <xs:attribute type="xs:string" name="suffix"/>
  </xs:complexType>
  <xs:complexType name="safeHtml">
    <xs:annotation>
      <xs:documentation>Add Hibernate SafeHtml annotation on this field.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="tns:safeHtmlWhiteListType" name="whitelistType"/>
  </xs:complexType>
  <xs:complexType name="value">
    <xs:sequence/>
    <xs:attribute type="xs:string" name="value"/>
  </xs:complexType>
  <xs:complexType name="headerComment">
    <xs:sequence>
      <xs:element name="lines" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="line" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="include"/>
    <xs:attribute type="xs:boolean" name="showTemplateName"/>
  </xs:complexType>
  <xs:complexType name="inheritance">
    <xs:sequence/>
    <xs:attribute type="xs:string" name="discriminatorColumn"/>
    <xs:attribute type="xs:string" name="discriminatorValue"/>
    <xs:attribute type="xs:string" name="parentEntityName"/>
    <xs:attribute type="tns:inheritanceType" name="strategy"/>
  </xs:complexType>
  <xs:complexType name="implementsInterface">
    <xs:sequence/>
    <xs:attribute type="xs:string" use="required" name="fullType"/>
  </xs:complexType>
  <xs:complexType name="extendsClass">
    <xs:sequence/>
    <xs:attribute type="xs:string" use="required" name="fullType"/>
  </xs:complexType>
  <xs:element type="tns:metadata" name="metadata"/>
  <xs:complexType name="renamer">
    <xs:annotation>
      <xs:documentation><![CDATA[By default Celerio calculates Java field name based on the underlying column name. <br> This setting allows you to change the column name that is passed to Celerio to calculate the default field name. <br> You can for example remove well known prefix pattern from your column names.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="xs:string" name="regexp"/>
    <xs:attribute type="xs:string" name="replace"/>
  </xs:complexType>
  <xs:complexType name="customAnnotation">
    <xs:sequence/>
    <xs:attribute type="xs:string" name="annotation"/>
  </xs:complexType>
  <xs:complexType name="manyToOneConfig">
    <xs:sequence>
      <xs:element name="labels" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:label" name="label" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cascades" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:cascade" name="cascade" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:cacheConfig" name="cacheConfig" minOccurs="0"/>
      <xs:element type="tns:associationAction" name="associationAction" minOccurs="0"/>
      <xs:element name="metaAttributes" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Meta attributes are free form key value pairs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="metaAttribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="var"/>
    <xs:attribute type="tns:fetchType" name="fetch"/>
    <xs:attribute type="xs:string" name="targetEntityName"/>
  </xs:complexType>
  <xs:complexType name="enumConfig">
    <xs:sequence>
      <xs:element name="enumValues" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:enumValue" name="enumValue" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="comments" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="comment" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" use="required" name="name"/>
    <xs:attribute type="xs:string" name="rootPackage"/>
    <xs:attribute type="xs:string" name="subPackage"/>
    <xs:attribute type="tns:enumType" name="type"/>
    <xs:attribute type="xs:string" name="userType"/>
  </xs:complexType>
  <xs:complexType name="eclipseFormatter">
    <xs:sequence/>
    <xs:attribute type="tns:formatterEnum" use="required" name="formatterChoice"/>
    <xs:attribute type="xs:string" name="formatterFile"/>
  </xs:complexType>
  <xs:complexType name="oneToOneConfig">
    <xs:sequence>
      <xs:element name="labels" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:label" name="label" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cascades" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:cascade" name="cascade" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:cacheConfig" name="cacheConfig" minOccurs="0"/>
      <xs:element type="tns:associationAction" name="associationAction" minOccurs="0"/>
      <xs:element name="metaAttributes" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Meta attributes are free form key value pairs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="metaAttribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="var"/>
    <xs:attribute type="xs:boolean" name="orphanRemoval"/>
    <xs:attribute type="tns:fetchType" name="fetch"/>
    <xs:attribute type="xs:string" name="targetEntityName"/>
  </xs:complexType>
  <xs:complexType name="restriction">
    <xs:sequence>
      <xs:element name="classTypes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:classType" name="classType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="wellKnownFolders" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:wellKnownFolder" name="wellKnownFolder" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="generatedPackages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:generatedPackage" name="generatedPackage" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="indexedField">
    <xs:sequence/>
    <xs:attribute type="xs:string" name="bridgeImpl"/>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="tns:store" name="store"/>
    <xs:attribute type="xs:boolean" name="index"/>
    <xs:attribute type="tns:analyze" name="analyze"/>
    <xs:attribute type="xs:string" name="analyzer"/>
    <xs:attribute type="tns:norms" name="norms"/>
    <xs:attribute type="tns:termVector" name="termVector"/>
  </xs:complexType>
  <xs:complexType name="include">
    <xs:annotation>
      <xs:documentation>Include a configuration file dedicated to entityConfigs. Use it on large project to split your entityConfigs configuration into smaller pieces.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="xs:string" use="required" name="filename"/>
  </xs:complexType>
  <xs:complexType name="pattern">
    <xs:sequence/>
    <xs:attribute type="xs:string" use="required" name="pattern"/>
    <xs:attribute type="xs:boolean" use="required" name="include"/>
  </xs:complexType>
  <xs:complexType name="pack">
    <xs:sequence>
      <xs:element name="properties" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="property" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="filenames" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:pattern" name="filename" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="templates" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:pattern" name="template" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" use="required" name="name"/>
    <xs:attribute type="xs:string" name="path"/>
    <xs:attribute type="xs:boolean" use="required" name="enable"/>
    <xs:attribute type="xs:int" name="order"/>
  </xs:complexType>
  <xs:element type="tns:celerio" name="celerio"/>
  <xs:complexType name="generatedPackageOverride">
    <xs:sequence/>
    <xs:attribute type="tns:generatedPackage" use="required" name="generatedPackage"/>
    <xs:attribute type="xs:string" name="rootPackage"/>
    <xs:attribute type="xs:string" name="subPackage"/>
  </xs:complexType>
  <xs:complexType name="oneToManyConfig">
    <xs:sequence>
      <xs:element name="labels" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:label" name="label" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cascades" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:cascade" name="cascade" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:cacheConfig" name="cacheConfig" minOccurs="0"/>
      <xs:element type="tns:associationAction" name="associationAction" minOccurs="0"/>
      <xs:element name="metaAttributes" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Meta attributes are free form key value pairs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="metaAttribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="var"/>
    <xs:attribute type="xs:string" name="elementVar"/>
    <xs:attribute type="xs:boolean" name="orphanRemoval"/>
    <xs:attribute type="tns:fetchType" name="fetch"/>
    <xs:attribute type="xs:string" name="orderBy"/>
    <xs:attribute type="xs:int" name="displayOrder"/>
  </xs:complexType>
  <xs:complexType name="numberMapping">
    <xs:sequence/>
    <xs:attribute type="tns:mappedType" name="mappedType"/>
    <xs:attribute type="xs:int" name="columnSizeMin"/>
    <xs:attribute type="xs:int" name="columnSizeMax"/>
    <xs:attribute type="xs:int" name="columnDecimalDigitsMin"/>
    <xs:attribute type="xs:int" name="columnDecimalDigitsMax"/>
  </xs:complexType>
  <xs:complexType name="xmlFormatter">
    <xs:sequence/>
    <xs:attribute type="xs:boolean" use="required" name="enableXmlFormatter"/>
    <xs:attribute type="xs:int" name="maximumLineWidth"/>
    <xs:attribute type="xs:int" name="indent"/>
  </xs:complexType>
  <xs:complexType name="entityConfig">
    <xs:sequence>
      <xs:element type="tns:cacheConfig" name="cacheConfig" minOccurs="0"/>
      <xs:element name="usages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="usage" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="labels" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:label" name="label" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:inheritance" name="inheritance" minOccurs="0"/>
      <xs:element type="tns:extendsClass" name="extendsClass" minOccurs="0"/>
      <xs:element name="implementsInterfaces" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:implementsInterface" name="implementsInterface" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="metaAttributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="metaAttribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="columnConfigs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:columnConfig" name="columnConfig" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="customAnnotations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:customAnnotation" name="customAnnotation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="skip"/>
    <xs:attribute type="xs:string" name="entityName"/>
    <xs:attribute type="xs:string" name="sequenceName"/>
    <xs:attribute type="xs:string" name="tableName"/>
    <xs:attribute type="xs:boolean" name="indexed"/>
    <xs:attribute type="xs:boolean" name="middleTable"/>
    <xs:attribute type="xs:string" name="comment"/>
    <xs:attribute type="xs:string" name="rootPackage"/>
    <xs:attribute type="xs:string" name="subPackage"/>
    <xs:attribute type="xs:string" name="label"/>
    <xs:attribute type="tns:associationDirection" name="associationDirection"/>
    <xs:attribute type="tns:collectionType" name="collectionType"/>
  </xs:complexType>
  <xs:complexType name="columnConfig">
    <xs:sequence>
      <xs:element name="labels" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:label" name="label" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="usages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="usage" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:enumConfig" name="enumConfig" minOccurs="0"/>
      <xs:element type="tns:safeHtml" name="safeHtml" minOccurs="0"/>
      <xs:element type="tns:generatedValue" name="generatedValue" minOccurs="0"/>
      <xs:element type="tns:genericGenerator" name="genericGenerator" minOccurs="0"/>
      <xs:element type="tns:indexedField" name="indexedField" minOccurs="0"/>
      <xs:element name="customAnnotations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:customAnnotation" name="customAnnotation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="metaAttributes" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Meta attributes are free form key value pairs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:metaAttribute" name="metaAttribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="tns:manyToOneConfig" name="manyToOneConfig" minOccurs="0"/>
      <xs:element type="tns:oneToManyConfig" name="oneToManyConfig" minOccurs="0"/>
      <xs:element type="tns:oneToOneConfig" name="oneToOneConfig" minOccurs="0"/>
      <xs:element type="tns:oneToOneConfig" name="inverseOneToOneConfig" minOccurs="0"/>
      <xs:element type="tns:manyToManyConfig" name="manyToManyConfig" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="sharedEnumName"/>
    <xs:attribute type="xs:string" name="label"/>
    <xs:attribute type="xs:boolean" name="ignore"/>
    <xs:attribute type="tns:jdbcType" name="type"/>
    <xs:attribute type="tns:mappedType" name="mappedType"/>
    <xs:attribute type="xs:boolean" name="lazy"/>
    <xs:attribute type="xs:string" name="fieldName"/>
    <xs:attribute type="xs:string" name="tableName"/>
    <xs:attribute type="xs:string" name="columnName"/>
    <xs:attribute type="xs:int" name="size"/>
    <xs:attribute type="xs:int" name="min"/>
    <xs:attribute type="xs:int" name="max"/>
    <xs:attribute type="xs:int" name="ordinalPosition"/>
    <xs:attribute type="xs:int" name="displayOrder"/>
    <xs:attribute type="xs:int" name="formFieldOrder"/>
    <xs:attribute type="xs:int" name="searchFieldOrder"/>
    <xs:attribute type="xs:int" name="searchResultOrder"/>
    <xs:attribute type="xs:string" name="typeConverter"/>
    <xs:attribute type="xs:boolean" name="businessKey"/>
    <xs:attribute type="xs:boolean" name="asTransient"/>
    <xs:attribute type="xs:string" name="comment"/>
    <xs:attribute type="xs:int" name="decimalDigits"/>
    <xs:attribute type="xs:string" name="defaultValue"/>
    <xs:attribute type="xs:boolean" name="messageKey"/>
    <xs:attribute type="xs:boolean" name="html"/>
    <xs:attribute type="xs:boolean" name="inverse"/>
    <xs:attribute type="tns:associationDirection" name="associationDirection"/>
    <xs:attribute type="xs:boolean" name="enableOneToVirtualOne"/>
    <xs:attribute type="xs:boolean" name="autoIncrement"/>
    <xs:attribute type="xs:boolean" name="nullable"/>
    <xs:attribute type="xs:boolean" name="formField"/>
    <xs:attribute type="xs:boolean" name="searchField"/>
    <xs:attribute type="xs:boolean" name="searchResult"/>
    <xs:attribute type="xs:boolean" name="selectLabel"/>
    <xs:attribute type="xs:boolean" name="unique"/>
    <xs:attribute type="xs:boolean" name="visible"/>
    <xs:attribute type="xs:boolean" name="version"/>
    <xs:attribute type="xs:string" name="targetTableName"/>
    <xs:attribute type="xs:string" name="targetColumnName"/>
    <xs:attribute type="xs:boolean" name="password"/>
  </xs:complexType>
  <xs:complexType name="generation">
    <xs:sequence/>
    <xs:attribute type="xs:string" name="modelBasePrefix"/>
    <xs:attribute type="xs:boolean" use="required" name="useMavenCelerioPlugin"/>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
  <xs:complexType name="label">
    <xs:sequence/>
    <xs:attribute type="xs:string" name="lang"/>
    <xs:attribute type="xs:string" name="value"/>
  </xs:complexType>
</xs:schema>